[submodule "multibuild"]
	path = python-macos/multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "arrow"]
	path = python-macos/arrow
	url = https://github.com/apache/arrow.git
