env:
  global:
  - PLAT=x86_64
  - BUILD_REF=apache-arrow-0.7.1
language: python
python: 3.5
sudo: required
dist: trusty
services:
- docker
matrix:
  exclude:
  - python: 3.5
  include:
  - os: osx
    language: objective-c
    env:
    - MB_PYTHON_VERSION=2.7
    - NP_BUILD_DEP=1.10.1
    - NP_TEST_DEP=1.10.1
    - PANDAS_DEP="0.20.3"
  - os: osx
    language: objective-c
    env:
    - MB_PYTHON_VERSION=3.5
    - NP_BUILD_DEP="1.10.1"
    - NP_TEST_DEP="1.10.1"
    - PANDAS_DEP="0.20.3"
  - os: osx
    language: objective-c
    env:
    - MB_PYTHON_VERSION=3.6
    - NP_BUILD_DEP="1.11.3"
    - NP_TEST_DEP="1.11.3"
    - PANDAS_DEP="0.20.3"
  - language: cpp
    os: linux
    before_script:
    - docker pull quay.io/xhochy/arrow_manylinux1_x86_64_base:latest
    before_install:
    install:
    script:
    - mkdir -p dist
    - pushd arrow/python/manylinux1
    - git clone ../../ arrow
    - docker build -t arrow-base-x86_64 -f Dockerfile-x86_64 .
    - docker run --shm-size=2g --rm -e PYARROW_PARALLEL=3 -v $PWD:/io arrow-base-x86_64
      /io/build_arrow.sh
    - popd
    - sudo mv arrow/python/manylinux1/dist/* dist/
  - language: ruby
    os: linux
    before_script:
    before_install:
    install:
    script:
    - (cd cpp-linux && travis_wait 40 rake apt:build PARALLEL=yes DEBUG=no)
    deploy:
      provider: bintray
      file: cpp-linux/apt/descriptor.json
      user: kou
      on:
        all_branches: true
      key:
        secure: "XXRJFBIOGS9urF047KcGlCqnMwKWa/EhW1Q2A3JGDd7Au+NHd99Rl/iRbtd44xVnfhosKGEH9mBGrqIZb/Tfn3RTtSi/KvN2RIoWmdsc3Kxk1eKd6O9kCLo4Y1GqboK8JVIHD4OYiyoVoFmnYLuinfdtrZrME5aU4pENnvwR3E0qvjhnhfwRG/Mtb93ePAqzih95gT7S0VWlsBV3FPa21aY7ctFteUP+DdqXZX1BmUnJB6cBxUGjpL8Bu8O/mt3l3yIrT9UkWM1g75l7zrP354x5+AMbHWBv7yGFa+JvbB+LXkrE2dV6j3Upf6ChnQKoTKv5Ur5LJBbCHyRieW3/uE/h47IR3c/3mRnhoSIl4QX7UoQkvTwHSE1Xpry3I2jE0WVHmq9NqT4iaxIv5oga+3I/W6h8brV3yCYfVUi1F90aRlnZHsCDmtAqzW1u9s1xqkO4z4/dennI0gniEn4kWfx0I7aCQQI/XmDri/33uTINprwBB5eHt6a7WGysrcO6Mv5I8EFEAJ5vkx2mDVw+rDFC7/R8YNA77PcJABlF7G/ZajcHqPnN5uyJC+P2m6JyHO+kTHemjW8pgf5vKvdNzdTN1AVFSO9Mv4O3NPyaADRl9DCCcqAk2LwL+SYqCVvIXu98Mb6uEoSOb+ZnpvseyydxNB6DtQSVtVUNdis5Ibw="
  - language: ruby
    os: linux
    before_script:
    before_install:
    install:
    script:
    - (cd cpp-linux && rake yum:build PARALLEL=yes DEBUG=no)
    deploy:
      provider: bintray
      file: cpp-linux/yum/descriptor.json
      user: kou
      on:
        all_branches: true
      key:
        secure: "XXRJFBIOGS9urF047KcGlCqnMwKWa/EhW1Q2A3JGDd7Au+NHd99Rl/iRbtd44xVnfhosKGEH9mBGrqIZb/Tfn3RTtSi/KvN2RIoWmdsc3Kxk1eKd6O9kCLo4Y1GqboK8JVIHD4OYiyoVoFmnYLuinfdtrZrME5aU4pENnvwR3E0qvjhnhfwRG/Mtb93ePAqzih95gT7S0VWlsBV3FPa21aY7ctFteUP+DdqXZX1BmUnJB6cBxUGjpL8Bu8O/mt3l3yIrT9UkWM1g75l7zrP354x5+AMbHWBv7yGFa+JvbB+LXkrE2dV6j3Upf6ChnQKoTKv5Ur5LJBbCHyRieW3/uE/h47IR3c/3mRnhoSIl4QX7UoQkvTwHSE1Xpry3I2jE0WVHmq9NqT4iaxIv5oga+3I/W6h8brV3yCYfVUi1F90aRlnZHsCDmtAqzW1u9s1xqkO4z4/dennI0gniEn4kWfx0I7aCQQI/XmDri/33uTINprwBB5eHt6a7WGysrcO6Mv5I8EFEAJ5vkx2mDVw+rDFC7/R8YNA77PcJABlF7G/ZajcHqPnN5uyJC+P2m6JyHO+kTHemjW8pgf5vKvdNzdTN1AVFSO9Mv4O3NPyaADRl9DCCcqAk2LwL+SYqCVvIXu98Mb6uEoSOb+ZnpvseyydxNB6DtQSVtVUNdis5Ibw="
before_install:
- brew uninstall boost
- brew update
- brew upgrade cmake
- BUILD_DEPENDS="numpy==$NP_BUILD_DEP six cython"
- TEST_DEPENDS="numpy==$NP_TEST_DEP six pandas==$PANDAS_DEP"
- mkdir -p dist
- pushd python-macos
- source multibuild/common_utils.sh
- source multibuild/travis_steps.sh
- before_install
- popd
install:
- clean_code arrow $BUILD_REF
- build_wheel arrow $PLAT
- mv arrow/python/dist/* dist/
script:
- echo "SCRIPT"
- pwd
after_success:
- echo "After success"
- pwd
deploy:
  provider: bintray
  file: descriptor.json
  user: wesm
  on:
    all_branches: true
  key:
    secure: A4A5y/NqAAMTHynW7G0NsUOcZkWxUU84YGw+2Ltne1zfhxcQW2hFT0JjT1eTxm0nWkWuQZfd6bXc2W2G5W0uEaq2U/u+6oCMLuNxvrjQTbHzWI4CSdEfZHm2EZq/BewYHbRwPmi97uscOkgYhYZRSh8KGJZjcLVGHpzZAoC3D69JA2mynWpFOqXIiaL3rznE2LBz8L0UbttUnxTvgt8/yFJIbaPWzsoeS++T+DaFAm4GesY38uZ2NIq9OR62rlGre/ye/KBXsHkAzSlCbvIJgNvrAxId0GHCP5jEF389r8C5w+nttmLoCvyDvKRV5XcIeIACUlVdl01vcPs65LhBWqKE6wTo+2Vx1Zw+HWrfVsO6fINhbuJ+Uler2Zkq//chRRNtbzjI3so8VCBpQD+12O4Nlsfe6JJjgKgzhPNAQFSuE2cp8p6+Qs5FujKaVkVqYjhN8wH7U5nGuqM51ed8EeI1LuJgZ4i4NnoVHWBT7IU6A25Aa/dvMmp7TDLk9DuE4r4LsAGB89dt4smTEuD34nsfKcTIEoWqSfVZpGzcfKvP3MKfmOl8B1vVetjh+aTvCcA9XkiIBjsvmhzQo7vVEWrU15Sx0l6W3WGQMomrVwLvNOTiGpzJ8t0ohPyFDHDZXpp28SfUizFUDfPCkp7GBGF9fgwWLkEhh7hcuvXHhpI=
e383dd8d29452415f9d499c2805b42b4f1ff9787:
  secure: YaFLnyewVMX4hb2HMWb9mCS1FqaPy91AUdYMJQ8ZiPdMRHKXfm4lCNTtBAopqtwzB+KpS1ej1Wo4UBQSyrhLnlyHSPZdZ/nuXbkU6qCBExqbG2yydmfX7aYifzKtNvzzzRzfueBdeZzPgvXX7A1jKig9W1JdIdaUEZ4751BGe1meF1HMKYed4mm4XQiF1BRyK194To213iS9+ponoT9l2mYkUEK6gtJ60AAtYnkBPNgkEgtezDsTE89VXuazqyPe3hgWvGSOdsFmEcJHwMlTVSwBK3LrgnMfT5WN7aXZQyzwoIlc4q3yPNJr3cs+iXY9anWo/qNT5i0IoIlRYj3Dsx8uCdEO0sud7M0khgMq6j9euCfLp1wZ6Zo9DjVP7fLznrmQ2gBXeHvzAbIP/1ToiL6RHc7UuPV/aLdpy4QG6rOT69LBizyZVvv7M+8EaOz9lRYbz14rNfrHmzu6GMv1/u80TfklziUGHtTe4sGBDTXbsWPL9xbix7l8nKQxPaEJ7KZq0kgPgi9BYX8Cy4xd5TvOjps0SsWdpocWbfrY/RRcEIjc2KiWm2MBHarcxfLG0hJhH2Af6SS7/9BpNlNePAwNsa+yg1vFsQiG9StVi2MjPyEJ2yhFTjuKo8WWen7d/I7LJDUM65KgCCp8dpMjnwvQZHLRW/2rig31r96e7vY=
